* {
	box-sizing: border-box;
}

html {
}
body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 1.5;
	color: black;
	font-family: 'Roboto', sans-serif;
}

a {
	color: rgb(235, 0, 0);
	text-decoration: none;
	border-bottom: .1rem solid rgba(235, 0, 0, .15);
}

a:hover {
	text-decoration: none;
	border-bottom: .1rem solid rgb(235, 0, 0);
}

.button {
	display: inline-block;
	margin-bottom: 1rem;
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.08);
	border-color: rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 0;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.button + .button {
	margin-left: 1rem;
}

.button:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.2);
	border-color: rgba(255, 255, 255, 0.3);
}


h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: .02ex;
	font-weight: bold;
	line-height: 1.2;
	font-size: 1.6rem;
	color: rgb(31, 35, 43);
	margin: 0 0 1.6rem;
}
h1 {
	font-size: 2.4rem;
}
h2 {
	font-size: 1.8rem;
}

.page-content {
	max-width: 48rem;
	overflow: hidden;
	padding: 3.2rem 3.2rem;
}

@media screen and (max-width: 42rem) {
	:root {
		font-size: 13px;
	}
}

.icon-link {
	color: black;
	vertical-align: top;
	display: inline-block;
	border: none!important;
	text-align: left;
	width: 3.2rem;
	height: 3.2rem;
	position: relative;
}
a svg {
	max-width: 100%;
	max-height: 100%;
	display: block;
}
