---
layout: default
ref: index
lang: en
---
{% assign lang=page.lang | default: 'en' %}

<h1>We&nbsp;are <nobr>web-engineers</nobr> from Montr&#233;al&nbsp;and we&nbsp;create <nobr>web-sites</nobr> for free price <a class="icon-link" href="//github.com/web-being">{% include github.svg %}</a></h1>

<!--
<h1>Hi! We are professional engineers from Montréal and we help you with web-sites using a Pay What You Want price model*.</h1>

<p>* That means that you literally pay what you want above a minimum (symbolic) sum to cover our basic expenses like food :) Details to come soon...</p>

<figure class="profile">
  <img class="profile-image" src="img/dima.jpg">
  <figcaption class="profile-title"><a href="https://github.com/dfcreative">Dima Yv</a></figcaption>
</figure>
<figure class="profile">
  <img class="profile-image" src="img/boris.jpg">
  <figcaption class="profile-title"><a href="https://github.com/bvarba">Boris Varbanov</a></figcaption>
</figure>

<hr/>

<h2>If you want a website, please contact us:</h2>

{% include form.html %}

<hr/>

<h2>Sites we’ve already made:</h2>

{% comment %}
{% assign posts=site.posts %}
{% include posts.html posts=posts %}
{% endcomment %}

Coming soon...

<hr/>

<h2>Why do we do that?</h2>

<p>Because we understand that you may need a website but have no resources, like time, money or knowledge. So we are here to help: we make sure that your web-site works for you and that is the best reward for us :)!</p>

-->
